NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/ixc-chat
JWT_SECRET=7e4d8c8f5a0c4d0e9c4c6f4a2f9e1b6c3d8a7f5b9e2c1d4a6f8b0c3d5e7f9a1
CLIENT_ORIGIN=http://localhost:3000
CLUSTER_ENABLED=false
CLUSTER_WORKERS=0

SERVER_PUBLIC_URL=http://localhost:4000
